.about-container {
   height: 1250px;
   background-color: #000000;
   color: #ffffff;
   }
    
.bottle-image-box {
   width: 32%;
   margin: 2% 1% 1% 15%;
   float: left;
   background-color: #1c1c1c;
   border: 4pt double #ffffff;
   }
    
.left-about-image {
   width: 100%;
   }
   
.owner-info-box {
   width: 32%;
   margin-left: 1%;
   margin-top: 2%;
   margin-bottom: 0.65%;
   float: left;
   background-color: #1c1c1c;
   border: 4pt double #ffffff;
   }
   
.owners-image {
   width: 250px;
   float: right;
   }

.leadership {
   padding-left: 15px;
   }
   
.owner-name {
   padding-left: 15px;
   }
   
.owner-bio {
   padding-left: 30px;
   }

.owner-margin {
   margin-bottom: 40px;
   }

.solitary-video-box {
   width: 32%;
   margin-top: 4px;
   margin-left: 1%;
   margin-bottom: 1%;
   float: left;
   background-color: #1c1c1c;
   border: 4pt double #ffffff;
   }
   
.mission-box {
   width: 64%;
   float: left;
   background-color: #1c1c1c;
   border: 4pt double #ffffff;
   margin-left: 16.5%;
   }
   
.mission-title {
   text-align: center;
   }   
   
.mission-text {
   padding-right: 30px;
   padding-left: 30px;
   }

.mission-subhead {
   padding-left: 15px;
   margin-bottom: 0;
   color: rgba(255, 223, 0, .75);
   }   